*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
    

}

p{
    text-align: justify;
}

h1{
    padding: 0px;
    margin: 0px;
    
}

.top_header_box{
    display: flex;
    flex-direction:column;
    flex-wrap: nowrap;
    justify-content:left;
    /* background-color: cadetblue; */
    height: 241px;
    
}

.logo_names_holder{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color:#e6eaed;
    height: 18em;
}
   
/* Excel Exceeds Tag line style */

@keyframes excel_exceeds {
    
    0% {
        visibility: hidden;
      }
      50% {
        visibility: hidden;
      }
      100% {
        visibility: visible;
      }

}


.excel_exceeds{
    font-size:1.5em;
    font-weight:bold;
    animation: excel_exceeds 2s infinite;
}


.g_logo{
    width: 35%;
}

.child_logo{
    width: 70%;
}

.child_logo_name{
    display:flex;
    flex-direction:column;
    align-items: center;
    gap: 10px;
    padding: 1%;
    width: 40%;

}

.logo_name{
    display:flex;
    flex-direction:column;
    align-items: center;
    gap: 10px;
    padding: 1%;
    width: 58%;
}
    

.logo_companies{
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.group_names{
    font-size: 1.3em;
    
}

.group_names a{
    color:black;
    text-decoration: none;
}

.group_names a:hover{
    color:red;
}

.group_names li{
    line-height: 150%;
}

.comp_name{
    width:auto; 
    /* min-width: 240px; */
    display:flex; 
    justify-content:left; 
    align-items:center;
    color: black;
    font-size: 1em;
}

.child_comp_name{
    width:auto; 
    /* min-width: 240px; */
    display:flex; 
    justify-content:left; 
    align-items:center;
    color: black;
    font-size: 2em;
}

.contacts{
    background-color: #ffec00;
    padding: 1em;
    width: 100%;
    height: 3em;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: right;
    text-align: left;
    gap: 2em;
}

.publisher_logo_name{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: left;
}

/* Nav Style Starts */
nav ul{
    width: 100%;
    background-color: rgb(255,255,255);
    color: rgb(85,84,84);
    padding: 0.7rem;
    height: 2.74rem;
    margin: 0;
    list-style-type: none;
    position: relative;
    
}

nav ul li{
    float: left;
}

nav a{
    color: rgb(85,84,84);
}

a{
    color: red;
    text-decoration: none;
}

a:hover{
    color:blue;
}

nav a{
    text-decoration: none;
    color: rgb(163,0,0);
    padding: 0.2rem 1rem;
    font-size: 1.5rem;
    border-radius: 10px;

    line-height: 0.5rem;
}

nav a:hover{
    background-color: rgb(168, 170, 172);
    border: 1px rgb(255, 255, 255) solid;
    font-weight: 500;
    width: 100%;
    
}

nav li:hover .sub_menu{
    display: block;
}

/* Style for Sub Menu */
.sub_menu{
    position: absolute;
    top: 2rem;
    width: 15em;
    height: auto;
    z-index: 2;
    display: none;
    background-color: rgba(255, 255, 255, 0);
}
 
.menu_holder{
    flex-basis: 100%;
    z-index: 6;
}
    
.mobile_view{
    display: none;
}


.sub_menu li a{
    width: 15em;
    background-color: rgb(85, 84, 84);
    border-bottom: 1px solid white;
    display: block;
    padding: 1em 1em;
    
}

nav .sub_menu a:hover{
    background-color: rgb(168, 170, 172);
}

.nav_container{
    height: auto;
    background-color: yellow;
}
/* Nav Style ends */

/* Menbu Bar for Mobile starts*/
.m_bar{
    display: none;
}

/* Carousel z-index */
#carouselExampleIndicators{
    z-index: 5;
    height: 40vh;
}

#carouselExampleIndicators button{
    box-shadow: none;
}


/* Setting height for Carousel */
.carousel-inner {
    max-height: 40vh;
}

#carouselExampleIndicators{
    max-height: 40vh;
}

/* Div to hold main content part */
.middle_part{
    width: 100%;
    height: auto;
    padding: 1em;
    padding-right: 0%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.text_part{
    width: 70%;
    padding-right: 1em;
    
    
}

.aboutUS{
    display: none;
}


/* Style for Sidebar */
.side_bar{
    width: 30%;
    text-align: center;
  
    padding: 1em;
    border-left: 1px dashed red;
}

/* Style for Form to search book on different criteria */
.search_book{
    /* background-color: rgb(180, 181, 182); */
    padding: 1em;
    border-radius: 0.5em;
    width: 100%;
    

}

.search_book label{
    width: 100%;
    text-align: left;
    display: block;
}

.search_book input{
    width: 100%;
    text-align: left;
    margin-bottom: 2em;
    border-radius: 0.3em;
    box-shadow: 2px 2px rgb(187, 185, 185);
    padding: 0.4em;
}

.search_book input:focus{
    background-color: rgba(245, 245, 55, 0.8);
    caret-color: red;
}



/* Universal style of button */

button{
    width: 5em;
    background-color: blue;
    color: white;
    padding: 0.2em 0.5em;
    text-align: center;
    border-radius: 0.5em;
    box-shadow: 0px 0px 15px #0c0c0c;
}

button:hover{
    background-color: black;
    
}

/* Style for Footer */
.footer{
    background-color: #353434;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
   
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
}

/* Style for inline text to be highleted or having link */
.highlighter{
    color: red;
    text-decoration: none;
    

}





.i{
    font-style: italic;
}

/* Style for Page Header */
.page_header{
    
    margin: 0em 50% 0.5em 0em;
}

/* Style for Copyright text */
.comp_name_footer{
    color:DodgerBlue; 
    font-size:1.5em
}

.copyright{
    /* display: flex;
    flex-wrap: nowrap; */
}

/* Social Icon style */

.social_icon{
    display: flex;
    gap: 1em;
    align-items: center;
    margin: 1em 1em 1em 1em;
}

.social_icon i{
    font-size: 1.5em;
}
.social_icon a{
    text-decoration: none;
    
    
}

.social_icon a:hover{
    color:rgb(243, 162, 56);
}

/* Slidding Client Logo  */

.clients_logo_holder{
    width: 100%;
    /* background-color: rgb(185, 185, 185); */
    padding: 0.5em;
    border-radius: 0.5em;
    /* border: 1px solid black; */
}

.our_clients_logo{
    border: 2px gray solid;
    width: 100%;
    height: 5em;
    overflow: hidden;
}

.s_image{
    height: 5em;
    padding: 1em;

}

/* Work Area */
.work_area{
    padding: 1em;
    background-color: rgb(231, 135, 17);
}


/* Sister Organisation style starts here */

.sister_org_holder{
    /* height: 350px; */
    overflow: hidden;
    margin-bottom: 2em;
    display: flex;
    flex-direction: row;
    width: 100%;
    
}

.sister_org{
    display: flex;
    flex-direction: row;
    padding: 1em;
    min-width: 100%;
    /* border: 1px solid gray; */
}
   



.companies{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap:10px;
}

.product_holder{
    width: 30%;
    height: 250px;
    margin-left: 1em;
    /* background-color: bisque; */
    padding: 0.5em;

}
.products{
    width: 100%;
    font-size: 1.5em;
    font-weight: bold;
    padding: 0.3em;
    /* background-color: cadetblue; */

}

.prod_items{
    padding: 0.9em;
}

/* Our Specialities */

.our_specialities{
    width: 100%;
    background-color: coral;
    padding: 2em;
    display: flex;
    justify-content: space-between;
    
    flex-direction:column;
    margin-bottom: 2em;
}



.our_specialities img{
    width: 100%;
}

/* states_language_clients */
.states_language_clients{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:first baseline;
}
.states_language_clients div{
    width: 30%;
    display: flex;
    align-items: center;
    flex-direction: column;
    
  
}


/* Excel Publisher home Page Styles */
.publisher_nav{
    /* background-color: bisque; */
    height: 20em;
}
.publisher_nav ul{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    /* background-color: bisque; */
}

.publisher_nav li{
    position: relative;
}

.publisher_nav a{
    border-radius: 0%;
    padding: 0%;
    text-decoration: none;
}
.publisher_nav a:hover{
    color : black;
    background-color: white;
    
    
}

.publisher_nav li:hover div{
    animation: menu_div 1s forwards;
    
   
}

.menu_border_bottom{
    width: 0%;
    height: 3px;
    background-color: red;
    margin-top: 0.03em;
    position: absolute;
}

@keyframes menu_div {
    0% {width:0%;}
    100% {width:100%}
  }


  .publisher_right_column{
    width: 75%;
    /* padding-left: 1em; */
    border-left: 1px red dashed;
    padding: 1em;

  }
  

  .publisher_right_column_sectors{
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    margin-top: 1em;
  }

  /* Recent Books */
  .recent_books{
    width: 100%;
    border: 1px red solid;
  }

table td{
    border: 1px black solid;
}

#clientTable tr:nth-child(even){
    background-color: antiquewhite;
}

.tableHighlight{
    background-color: #ffec00;
}

a{
    color:white;
}

p > a{
    color:red;
    text-decoration: none;
    cursor:pointer;
}

.testemonial_holder{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    gap: 1em;
    
}

.testemonial_holder h4{
    color:red;
    font-weight: bold;
    
}

.testemonial_logo{
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
}


/* Gallery Style starts */

.gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}



.gallery_div{
    width: 30%;
    border: gray 5px solid;
}

.gallery_div img{
    width: 100%;
}

.gallery_div:hover{
    
    border: red 5px solid;
}

#journals{
    display: flex;
    flex-direction: row;
    justify-content:left;
    flex-wrap: wrap;
    gap: 2em;
}

/* Publisher Column Style */

.publisher_left{
    display:flex;
    flex-direction:row;
    width: 25%;
}

.publisher_right{
    display:flex;
    flex-direction:row;
    width: 25%;
}



.proceedings img{
    width: 100%;
}

.proceedings div{
    width: 33%;
    float: left;
    padding-right: 1em;
 
}
