@media screen and (max-width:300px) {

    .logo_name{
        flex-direction: column;
        justify-content: left;
        max-width: 200px;
    }

    .comp_name{
        min-width: 240px;
        padding-left: 20px;
    }

    
}